.main-box {
  margin: 300px 0;
  height: 700px;
  background-color: black;
  border-radius: 25px;
  position: relative;

  .pattern-two {
    margin-left: 30%;
    margin-right: 70%;
  }

  .phone {
    width: 312px;
    height: 642px;
    position: absolute;
    left: 100px;
    top: -160px;
  }

  .box-text {
    display: inline;
    position: absolute;
    background-color: #FA7453;
    width: 446px;
    height: 625px;
    top: 90px;
    right: 100px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 60px 40px 40px 40px;

    h2 {
      font-size: 40px;
      font-weight: bold;
      line-height: 52px;
      color: #FCFAF9;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 34px;
      color: #FCFAF9;
    }

    button {
      width: 100%;
      height: 61px;
      margin: 5px 0;
      border-radius: 15px;
      border: none;
    }
  }

}