.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 91px;

  .logo-desktop {
    width: 147px;
  }

  .footer-text {
    width: 45%;

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .footer-icons {
    width: 10%;
    display: flex;
    justify-content: space-between;

    a:hover {
      color: yellow;
    }
  }
}