.landing-text {


  h1 {
    font-size: 88px;
    font-weight: 800;
    line-height: 88px;
    letter-spacing: -1px;
    width: 80%;
    margin-bottom: 30px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    width: 70%;
  }

}