@media only screen and (max-width: 888px) {

  // Overall Media Queries
  body {
    .pattern-desktop {
      top: -32px;
      right: -80px;
      width: 266.67px;
      height: 400px;
    }
  }

  // Landing Media Queries
  .landing-text {

    h1 {
      margin-bottom: 28px;
      font-size: 64px;
      line-height: 64px;
      font-weight: 700;
      letter-spacing: -0.72px;
      width: 70%;

    }

    p {
      font-size: 18px;
      line-height: 28px;
      width: 74%;
    }

  }


  // Box Media Queries
  .main-box {
    margin: 249px 0px 183px 0px;

    .phone {
      width: 270.21px;
      height: 556px;
      left: 64px;
      top: -138px;
    }

    .box-text {
      width: 399px;
      height: 546px;
      top: 150px;
      right: 58px;
      padding: 48px 48px 40px 48px;

      h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 12px;
      }

      .description {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 36px;
      }

      .pricing {
        margin-bottom: 32px;

      }
    }

  }


  // Footer Media Queries
  .footer-container {
    .footer-left {
      flex-direction: column;

      .footer-text {
        margin-top: 32px;
        width: 100%;
      }
    }

    .footer-icons {
      width: 35%;
      align-self: end;
      padding-bottom: 23px;
    }

  }
}


@media only screen and (max-width: 590px) {

  // Overall Media Queries
  body {
    .pattern-desktop {
      display: none;
    }
  }

  // Header Media Queries
  header {
    .logo-desktop {
      margin: 40px 0 64px 0;
    }
  }


  // Landing Media Queries
  .landing-text {

    h1 {
      margin-bottom: 20px;
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
      width: 100%;
      letter-spacing: -0.45px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
      width: 100%;
    }

  }


  // Box Media Queries

  .boxwrap {
    width: 100%;
  }

  .main-box {
    margin: 166px 0px 390px 0px;

    .pattern-two {
      width: 280px;
      height: 420px;
      top: 0px;
      margin-left: 0;
      margin-right: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .phone {
      position: relative;
      width: 208.97px;
      height: 430px;
      transform: translateX(-50%);
      left: 50%;
      top: -98px;
    }

    .box-text {

      width: 100%;
      top: 380px;
      right: 0px;
      padding: 48px 36px 40px 36px;

    }

  }

  // Footer Media Queries
  .footer-container {
    flex-direction: column;

    .footer-left {
      flex-direction: column;
      width: 100%;


      .footer-text {
        width: 100%;

        p {
          min-width: 327px;
        }
      }

    }

    .footer-icons {
      text-align: start;
      padding-bottom: 0;
      margin-top: 64px;
      width: 100%;

      a:first-of-type {
        margin-left: 0px;
      }

    }

  }
}