/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-image: url(../assets/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-position: 105% 60%;
  position: relative;
  overflow-x: hidden;
}

body .pattern-desktop {
  position: absolute;
  top: -50px;
  right: -170px;
}

.wrapper {
  max-width: 1110px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: 'IBM Plex Sans', sans-serif;
}

header .logo-desktop {
  margin: 40px 0 100px 0;
}

.landing-text h1 {
  font-size: 88px;
  font-weight: 800;
  line-height: 88px;
  letter-spacing: -1px;
  width: 80%;
  margin-bottom: 30px;
}

.landing-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  width: 70%;
}

.main-box {
  margin: 321px 0px 202px 0px;
  height: 600px;
  background-color: black;
  border-radius: 25px;
  position: relative;
  z-index: 0;
}

.main-box .pattern-two {
  position: absolute;
  top: -40px;
  margin-left: 30%;
  margin-right: 70%;
  z-index: -1;
}

.main-box .phone {
  width: 312px;
  height: 642px;
  position: absolute;
  left: 100px;
  top: -210px;
}

.main-box .box-text {
  display: inline;
  position: absolute;
  background-color: #FA7453;
  width: 446px;
  height: 625px;
  top: 90px;
  right: 100px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 60px 40px 60px;
}

.main-box .box-text h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #FCFAF9;
  margin-bottom: 22px;
}

.main-box .box-text .description,
.main-box .box-text .pricing {
  color: #FCFAF9;
}

.main-box .box-text .description {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 34px;
  margin-bottom: 39px;
}

.main-box .box-text .pricing {
  margin-bottom: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-box .box-text .pricing span {
  font-size: 65px;
  font-weight: 700;
  line-height: 52px;
  padding-right: 15px;
}

.main-box .box-text button {
  width: 100%;
  height: 61px;
  margin: 16px 0;
  border-radius: 15px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.main-box .box-text .apple {
  background-color: #191826;
  color: #FCFAF9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-box .box-text .apple img {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.main-box .box-text .apple:hover {
  cursor: pointer;
  background-color: #66E2DC;
}

.main-box .box-text .android {
  background-color: #FCFAF9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-box .box-text .android:hover {
  cursor: pointer;
  background-color: #FFB964;
}

.main-box .box-text .android img,
.main-box .box-text .apple img {
  padding-right: 5px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 91px;
}

.footer-container .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 65%;
}

.footer-container .footer-left .footer-logo {
  width: 35%;
}

.footer-container .footer-left .footer-text {
  width: 65%;
}

.footer-container .footer-left .footer-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 80%;
  min-width: 366px;
}

.footer-container .footer-left .footer-text p span {
  font-weight: 800;
}

.footer-container .footer-icons {
  width: 35%;
  text-align: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-container .footer-icons a {
  margin-left: 20px;
}

.footer-container .footer-icons a:hover {
  -webkit-filter: invert(57%) sepia(98%) saturate(1491%) hue-rotate(324deg) brightness(98%) contrast(101%);
          filter: invert(57%) sepia(98%) saturate(1491%) hue-rotate(324deg) brightness(98%) contrast(101%);
}

@media only screen and (max-width: 888px) {
  body {
    background-color: yellow;
  }
  body .pattern-desktop {
    top: -32px;
    right: -80px;
    width: 266.67px;
    height: 400px;
  }
  .landing-text h1 {
    margin-bottom: 28px;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: -0.72px;
    width: 70%;
  }
  .landing-text p {
    font-size: 18px;
    line-height: 28px;
    width: 74%;
  }
  .main-box {
    margin: 249px 0px 183px 0px;
  }
  .main-box .phone {
    width: 270.21px;
    height: 556px;
    left: 64px;
    top: -138px;
  }
  .main-box .box-text {
    width: 399px;
    height: 546px;
    top: 150px;
    right: 58px;
    padding: 48px 48px 40px 48px;
  }
  .main-box .box-text h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 12px;
  }
  .main-box .box-text .description {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 36px;
  }
  .main-box .box-text .pricing {
    margin-bottom: 32px;
  }
  .footer-container .footer-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-container .footer-left .footer-text {
    margin-top: 32px;
    width: 100%;
  }
  .footer-container .footer-icons {
    width: 35%;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    padding-bottom: 23px;
  }
}

@media only screen and (max-width: 590px) {
  body {
    background-color: lightblue;
  }
  body .pattern-desktop {
    display: none;
  }
  .landing-text h1 {
    margin-bottom: 28px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    width: 100%;
    letter-spacing: -0.45px;
  }
  .landing-text p {
    font-size: 16px;
    line-height: 26px;
    width: 100%;
  }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-container .footer-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .footer-container .footer-left .footer-text {
    width: 100%;
  }
  .footer-container .footer-left .footer-text p {
    min-width: 327px;
  }
  .footer-container .footer-icons {
    text-align: start;
    padding-bottom: 0;
    margin-top: 64px;
    width: 100%;
  }
  .footer-container .footer-icons a:first-of-type {
    margin-left: 0px;
  }
}
